<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[哭笑]</string>
		<key>cht</key>
		<string>[001哭笑]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>001哭笑.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[微笑]</string>
		<key>cht</key>
		<string>[002微笑]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>002微笑.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[嘻嘻]</string>
		<key>cht</key>
		<string>[003嘻嘻]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>003嘻嘻.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[哈哈]</string>
		<key>cht</key>
		<string>[004哈哈]</string>
		<key>gif</key>
		<string>o_fahongbao.gif</string>
		<key>png</key>
		<string>004哈哈.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[可爱]</string>
		<key>cht</key>
		<string>[005可爱]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>005可爱.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[可怜]</string>
		<key>cht</key>
		<string>[006可怜]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>006可怜.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[色]</string>
		<key>cht</key>
		<string>[007色]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>007色.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[酷]</string>
		<key>cht</key>
		<string>[008酷]</string>
		<key>gif</key>
		<string>d_hehe.gif</string>
		<key>png</key>
		<string>008酷.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[亲亲]</string>
		<key>cht</key>
		<string>[009亲亲]</string>
		<key>gif</key>
		<string>d_xixi.gif</string>
		<key>png</key>
		<string>009亲亲.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[汗]</string>
		<key>cht</key>
		<string>[010汗]</string>
		<key>gif</key>
		<string>d_haha.gif</string>
		<key>png</key>
		<string>010汗.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[饥饿]</string>
		<key>cht</key>
		<string>[011饥饿]</string>
		<key>gif</key>
		<string>d_aini.gif</string>
		<key>png</key>
		<string>011饥饿.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>d_wabishi.gif</string>
		<key>png</key>
		<string>012惊讶.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[泪]</string>
		<key>cht</key>
		<string>[013泪]</string>
		<key>gif</key>
		<string>d_chijing.gif</string>
		<key>png</key>
		<string>013泪.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[偷笑]</string>
		<key>cht</key>
		<string>[014偷笑]</string>
		<key>gif</key>
		<string>d_yun.gif</string>
		<key>png</key>
		<string>014偷笑.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[拜托]</string>
		<key>cht</key>
		<string>[015拜托]</string>
		<key>gif</key>
		<string>d_lei.gif</string>
		<key>png</key>
		<string>015拜托.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[闭嘴]</string>
		<key>cht</key>
		<string>[016闭嘴]</string>
		<key>gif</key>
		<string>d_chanzui.gif</string>
		<key>png</key>
		<string>016闭嘴.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[嘘]</string>
		<key>cht</key>
		<string>[017嘘]</string>
		<key>gif</key>
		<string>d_zhuakuang.gif</string>
		<key>png</key>
		<string>017嘘.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[傲慢]</string>
		<key>cht</key>
		<string>[018傲慢]</string>
		<key>gif</key>
		<string>d_heng.gif</string>
		<key>png</key>
		<string>018傲慢.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[挖鼻]</string>
		<key>cht</key>
		<string>[019挖鼻]</string>
		<key>gif</key>
		<string>d_keai.gif</string>
		<key>png</key>
		<string>019挖鼻.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[发火]</string>
		<key>cht</key>
		<string>[020发火]</string>
		<key>gif</key>
		<string>d_nu.gif</string>
		<key>png</key>
		<string>020发火.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[鄙视]</string>
		<key>cht</key>
		<string>[021鄙视]</string>
		<key>gif</key>
		<string>d_han.gif</string>
		<key>png</key>
		<string>021鄙视.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[钱]</string>
		<key>cht</key>
		<string>[022钱]</string>
		<key>gif</key>
		<string>d_haixiu.gif</string>
		<key>png</key>
		<string>022钱.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抓狂]</string>
		<key>cht</key>
		<string>[023抓狂]</string>
		<key>gif</key>
		<string>d_shuijiao.gif</string>
		<key>png</key>
		<string>023抓狂.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[难过]</string>
		<key>cht</key>
		<string>[024难过]</string>
		<key>gif</key>
		<string>d_qian.gif</string>
		<key>png</key>
		<string>024难过.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[鼓掌]</string>
		<key>cht</key>
		<string>[025鼓掌]</string>
		<key>gif</key>
		<string>d_touxiao.gif</string>
		<key>png</key>
		<string>025鼓掌.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[委屈]</string>
		<key>cht</key>
		<string>[026委屈]</string>
		<key>gif</key>
		<string>d_ku.gif</string>
		<key>png</key>
		<string>026委屈.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[困]</string>
		<key>cht</key>
		<string>[027困]</string>
		<key>gif</key>
		<string>d_shuai.gif</string>
		<key>png</key>
		<string>027困.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[疑问]</string>
		<key>cht</key>
		<string>[028疑问]</string>
		<key>gif</key>
		<string>d_bizui.gif</string>
		<key>png</key>
		<string>028疑问.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[加油]</string>
		<key>cht</key>
		<string>[029加油]</string>
		<key>gif</key>
		<string>d_bishi.gif</string>
		<key>png</key>
		<string>029加油.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[糗大了]</string>
		<key>cht</key>
		<string>[030糗大了]</string>
		<key>gif</key>
		<string>d_huaxin.gif</string>
		<key>png</key>
		<string>030糗大了.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[阴险]</string>
		<key>cht</key>
		<string>[031阴险]</string>
		<key>gif</key>
		<string>d_guzhang.gif</string>
		<key>png</key>
		<string>031阴险.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[晕]</string>
		<key>cht</key>
		<string>[032晕]</string>
		<key>gif</key>
		<string>d_beishang.gif</string>
		<key>png</key>
		<string>032晕.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[哈欠]</string>
		<key>cht</key>
		<string>[033哈欠]</string>
		<key>gif</key>
		<string>d_sikao.gif</string>
		<key>png</key>
		<string>033哈欠.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[衰]</string>
		<key>cht</key>
		<string>[034衰]</string>
		<key>gif</key>
		<string>d_shengbing.gif</string>
		<key>png</key>
		<string>034衰.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[拜拜]</string>
		<key>cht</key>
		<string>[親親]</string>
		<key>gif</key>
		<string>d_qinqin.gif</string>
		<key>png</key>
		<string>035拜拜.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[左哼哼]</string>
		<key>cht</key>
		<string>[怒罵]</string>
		<key>gif</key>
		<string>d_numa.gif</string>
		<key>png</key>
		<string>036左哼哼.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[右哼哼]</string>
		<key>cht</key>
		<string>[太開心]</string>
		<key>gif</key>
		<string>d_taikaixin.gif</string>
		<key>png</key>
		<string>037右哼哼.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[囧]</string>
		<key>cht</key>
		<string>[懒得理你]</string>
		<key>gif</key>
		<string>d_landelini.gif</string>
		<key>png</key>
		<string>038囧.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[吐]</string>
		<key>cht</key>
		<string>[右哼哼]</string>
		<key>gif</key>
		<string>d_youhengheng.gif</string>
		<key>png</key>
		<string>039吐.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[晚安]</string>
		<key>cht</key>
		<string>[左哼哼]</string>
		<key>gif</key>
		<string>d_zuohengheng.gif</string>
		<key>png</key>
		<string>040晚安.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[dog]</string>
		<key>cht</key>
		<string>[嘘]</string>
		<key>gif</key>
		<string>d_xu.gif</string>
		<key>png</key>
		<string>041dog.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[Ok]</string>
		<key>cht</key>
		<string>[委屈]</string>
		<key>gif</key>
		<string>d_weiqu.gif</string>
		<key>png</key>
		<string>042Ok.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[No]</string>
		<key>cht</key>
		<string>[吐]</string>
		<key>gif</key>
		<string>d_tu.gif</string>
		<key>png</key>
		<string>043No.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[来]</string>
		<key>cht</key>
		<string>[可憐]</string>
		<key>gif</key>
		<string>d_kelian.gif</string>
		<key>png</key>
		<string>044来.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[强]</string>
		<key>cht</key>
		<string>[打哈氣]</string>
		<key>gif</key>
		<string>d_dahaqi.gif</string>
		<key>png</key>
		<string>045强.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[弱]</string>
		<key>cht</key>
		<string>[擠眼]</string>
		<key>gif</key>
		<string>d_jiyan.gif</string>
		<key>png</key>
		<string>046弱.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[耶]</string>
		<key>cht</key>
		<string>[失望]</string>
		<key>gif</key>
		<string>d_shiwang.gif</string>
		<key>png</key>
		<string>047耶.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[拥抱]</string>
		<key>cht</key>
		<string>[頂]</string>
		<key>gif</key>
		<string>d_ding.gif</string>
		<key>png</key>
		<string>048拥抱.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[咖啡]</string>
		<key>cht</key>
		<string>[疑問]</string>
		<key>gif</key>
		<string>d_yiwen.gif</string>
		<key>png</key>
		<string>049咖啡.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[蛋糕]</string>
		<key>cht</key>
		<string>[困]</string>
		<key>gif</key>
		<string>d_kun.gif</string>
		<key>png</key>
		<string>050蛋糕.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[礼物]</string>
		<key>cht</key>
		<string>[感冒]</string>
		<key>gif</key>
		<string>d_ganmao.gif</string>
		<key>png</key>
		<string>051礼物.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[玫瑰]</string>
		<key>cht</key>
		<string>[拜拜]</string>
		<key>gif</key>
		<string>d_baibai.gif</string>
		<key>png</key>
		<string>052玫瑰.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[猪头]</string>
		<key>cht</key>
		<string>[053猪头]</string>
		<key>gif</key>
		<string>d_heixian.gif</string>
		<key>png</key>
		<string>053猪头.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[熊猫]</string>
		<key>cht</key>
		<string>[阴险]</string>
		<key>gif</key>
		<string>d_yinxian.gif</string>
		<key>png</key>
		<string>054熊猫.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[心]</string>
		<key>cht</key>
		<string>[互粉]</string>
		<key>gif</key>
		<string>f_hufen.gif</string>
		<key>png</key>
		<string>055心.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[心碎]</string>
		<key>cht</key>
		<string>[心]</string>
		<key>gif</key>
		<string>l_xin.gif</string>
		<key>png</key>
		<string>056心碎.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[汽球]</string>
		<key>cht</key>
		<string>[傷心]</string>
		<key>gif</key>
		<string>l_shangxin.gif</string>
		<key>png</key>
		<string>057汽球.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[吃药了]</string>
		<key>cht</key>
		<string>[豬頭]</string>
		<key>gif</key>
		<string>d_zhutou.gif</string>
		<key>png</key>
		<string>058吃药了.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[灯泡]</string>
		<key>cht</key>
		<string>[熊貓]</string>
		<key>gif</key>
		<string>d_xiongmao.gif</string>
		<key>png</key>
		<string>059灯泡.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[浮云]</string>
		<key>cht</key>
		<string>[兔子]</string>
		<key>gif</key>
		<string>d_tuzi.gif</string>
		<key>png</key>
		<string>060浮云.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
</array>
</plist>
